cartopy
deepspeed==0.9.3
diffusers
einops
eva-decord==0.6.1
ftfy
fvcore
gradio
iopath
matplotlib
mayavi
numpy>=1.19
openai
opencv-python
peft
pjtools
protobuf
pytorchvideo @ git+https://github.com/facebookresearch/pytorchvideo.git@28fe037d212663c6a24f373b94cc5d478c8c1a1d
regex
scipy
sentencepiece
tensorboard
timm==0.6.7
torch==1.13.1
torchaudio==0.13.1
torchvision==0.14.1
transformers
types-regex
wandb
